<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/basic_css.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>About Us</h1>
        <nav>
            <a href="/">Home</a>
      
        </nav>
    </header>
    
    <section>
        <h2>About Our Website</h2>
        <p>We showcase a collection of cars that we love. Our goal is to provide a great experience for car enthusiasts! You can look at my favorite three brands and see the coolest pictures I have seen!</p>
    </section>

    <footer>
        <p>You can donate to me to help me take more photos! My venmo is noahmallory1</p>
    </footer>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
